.banner{ 
    background-image: url(/assets/imgs/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}

.banner div > *{
    margin: 5px;
}

.call-to-action{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #39a0ed;
    color: rgba(255, 255, 255, 0.5);
    margin:5px;
    transition: .5s ease;
}

.call-to-action:hover{
    color: black;
    cursor: pointer;
}

.icons img{
    width: 50px;
    height: 50px;
    margin: 15px;
}

.about{
    padding-top: 50px;
}

.about > div{
    margin-top: 25px;
    margin-bottom: 25px;
}

#education h3{
    margin: 3px;
}

#school_logo{
    width: 25%;
    height: auto;
}
